<h2>Hello <%= "#{session[:player_name]}" %></h2>
<% players_hand = session[:player_cards] %>
<% dealers_hand = session[:dealer_cards] %>

<h3>Player's Hand</h3>
<ul class='hand'>
  <%= show_hand(players_hand) %>
</ul>

<h3>Dealer's Hand</h3>
<ul class='hand'>
  <%= show_one_card(dealers_hand) %>
</ul>
      